<header>
  <nav class="blue-grey darken-4">
    <div class="nav-wrapper col s12 grey darken-4 row">
      <i class="material-icons logo-icon left">attach_file</i>
      <a href="#" class="brand-logo">Drivr</a>
      <% if (locals.user) { %>
        <ul id="nav-mobile" class="right hide-on-med-and-down nav-list">
          <li><span class="welcome-text">Welcome, <%= user.fullName %></span></li>
            <li><form method="post" action="/api/user/logout?_method=DELETE">
              <input type="submit" class="btn" value="logout">
            </form>
          </li>
        </ul>
      <% } %>
    </div>
    
  </nav>
</header>