* {
 font-family: 'Raleway', sans-serif;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.logo-icon {
  color: green;
  border-radius: 295px;
  padding-left: 15px;
}
.nav-list {
  padding-right: 15px;
}
.welcome-text {
  margin-right: 20px;
}
main {
  flex: 1 0 auto;
}
.card {
  height: 200px;
}