<!DOCTYPE html>
<html>
<%- include('../components/head') -%>

<body>
  <%- include('../components/header') -%>
  <main class="container">
    <h1>content</h1>
  </main>
  <%- include('../components/footer') -%>
</body>

</html>