<!DOCTYPE html>
<html>
<%- include('../components/head') -%>
<body>
<%- include('../components/header') -%>
<main class="container">
  body
</main>
<%- include('../components/footer') -%>
</body>

</html>