<!doctype html>
<html>
<%- include('../components/head') -%>

<body>
  <%- include('../components/header') -%>
  <main class="container">
   <h1>Login</h1>
    <form action="/api/user/login" method="post">
      <div class="row">
        <label>Email</label>
        <input type="text" class="input-field" name="email">
      </div>
      <div class="row">
        <label>Password</label>
        <input type="password" class="input-field" name="password">
      </div>
      <button class="btn waves-effect waves-light row" type="submit" name="action">Login
        <i class="material-icons right">send</i>
      </button>
    </form>

    </div>
  </main>
  <%- include('../components/footer') -%>
</body>

</html>